@page "/patients"
@using ClinicalEpilepsyApp.Domain.DBModels
@rendermode InteractiveServer

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<h1>Patients</h1>

@if (patients == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Id</th>
            <th>CSI</th>
            <th>MOD-CSI</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var patient in patients)
        {
            <tr>
                <td><a href="@($"patients/{patient.Id}")">@patient.Name</a></td>
                <td>@patient.Id</td>
                    <td>@patient.CSIThreshold</td>
                    <td>@patient.ModCSIThreshold</td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="NavigateToAddPatient">Add Patient</button>
}

@code {
    private List<Patient> patients;

    protected override async Task OnInitializedAsync()
    {
        patients = await HttpClient.GetFromJsonAsync<List<Patient>>(Constants.ApiString + "/patients") ?? new List<Patient>();
    }

    private void NavigateToAddPatient()
    {
        NavigationManager.NavigateTo("/add-patient");
    }
}